# # Streamlit
# run = "streamlit run streamlit/inflearn/sqlite01.py"


# modules = ["python-3.10:v18-20230807-322e88b"]

# hidden = [".pythonlibs"]

# [nix]
# channel = "stable-23_05"

# [deployment]
# run = ["sh", "-c", "streamlit run streamlit/inflearn/main.py"]
# ignorePorts = false
# deploymentTarget = "gce"

# [[ports]]
# localPort = 8501
# externalPort = 80

# Dash
language = "python3"
run = "python streamlit/inflearn/sqlite02.py"

modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 8050
externalPort = 80
exposeLocalhost = true
